*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 
}

body{
    background-image: url("./background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    
    
    
}
/* ==============navbar======================= */

a li button{
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
}




#barra{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  background-color: rgba(36, 114, 216, 0.616);
}
.logo{
  cursor: pointer;
  height: 50px;
  display: block;
  margin-right: 20px;
  
  
}
.nav_link{
  list-style: none;
}
.nav_link li{
  display: inline-block;
  padding: 0px 20px;
  margin-top: 12px;
  
  
}
.nav_link li a{
  transition: all 0,3s ease 0s;
  text-decoration: none;
  color: white;
}
.nav_link li a:hover{
  color: rgb(229, 229, 238);
}
button{
  padding:9px  25px;
  background-color: rgb(169, 0, 28);
  border: none;
  border-radius: 50px;
  transition: all 0,3s ease 0s;
  cursor: pointer;
  color: white;

}
button:hover{
  background-color: rgb(122, 4, 24);
}









/* =================Detalle================= */
nav h1{
    margin-top: 45px;
    margin-right: 35px;
}

.detalle{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    border: #ccc 1px solid;
    padding: 22px;
    background-color: rgba(203, 241, 203, 0.781);
    margin-bottom: 20px;
}
.detalle h4{
    margin-top: 5px;
    background-color: rgb(36, 33, 33);
    padding: 10px;
    border-radius: 10px;
    color: ghostwhite;
    letter-spacing: 2px;
}


#foto{
    
    background-color: rgb(37, 163, 37);
    border-radius: 100%;
    height: 150px;
    width: 150px;
    
    
}
#foto img{
    height: 100%;
    width: 100%;
}
#buscar{
  width: 95%;
}